extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="form-registration")
    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      class="form-control"
      value=data.email
    )

    label(for="pass") Password:
    input(
      type="text"
      id="pass"
      name="pass"
      class="form-control"
      value=data.pass
    )

    label(for="cpass") Confirm Password:
    input(
      type="text"
      id="pass"
      name="pass"
      class="form-control"
    )

    input(
      type="submit"
      value="Sign Up"
      class="btn btn-lg btn-primary btn-block"
    )
