extends loglayout

block logcontent
  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  form(action="logform" method="POST")
    label(for="outfit") Outfit:
    input(
      type="text"
      id="outfit"
      name="outfit"
      value=data.outfit
    )

    label(for="temp") I felt:
    input(
      type="text"
      id="temp"
      name="temp"
      value=data.temp
    )

    input(type="submit" value="Submit")