extends loglayout

block logcontent
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="form-log")
    label(for="outfit") I wore:
    input(
      type="text"
      id="outfit"
      name="outfit"
      class="form-control"
      value=data.outfit
    )

    label(for="temp") I felt:
    input(
      type="text"
      id="temp"
      name="temp"
      class="form-control"
      value=data.temp
    )

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )
